.HtmlEditor {
    width: 100%;
}

@media print {
    body {
        margin: 0;
        padding: 0 !important;
        min-width: 1920px;
    }

    .container {
        width: auto;
        min-width: 1920px;
    }

    .no-print {
        display: none;
    }

    .print {
        display: block !important;
    }
}

.print {
    display: none;
}

div.quote-item:nth-of-type(1) {
    background-color: #f00 !important;
}