@font-face {
    font-family: "Helvetica Neue";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/helveticaneue-new/Helvetica Neue Regular.woff') format('woff');
}